ADMIN_ID=7070690513

DATABASE_URL=YOUR_POSTGRESQL_CONNECTION_STRING

UPDATE_CHANNEL=https://t.me/spdfairyappi

OWNER_USERNAME=ShamimLeader

BOT_1_TOKEN=YOUR_BOT_1_TOKEN
BOT_2_TOKEN=YOUR_BOT_2_TOKEN
BOT_3_TOKEN=YOUR_BOT_3_TOKEN
BOT_4_TOKEN=YOUR_BOT_4_TOKEN
BOT_5_TOKEN=YOUR_BOT_5_TOKEN
BOT_6_TOKEN=YOUR_BOT_6_TOKEN
BOT_7_TOKEN=YOUR_BOT_7_TOKEN
BOT_8_TOKEN=YOUR_BOT_8_TOKEN
BOT_9_TOKEN=YOUR_BOT_9_TOKEN
BOT_10_TOKEN=YOUR_BOT_10_TOKEN
BOT_11_TOKEN=YOUR_BOT_11_TOKEN
BOT_12_TOKEN=YOUR_BOT_12_TOKEN
BOT_13_TOKEN=YOUR_BOT_13_TOKEN
BOT_14_TOKEN=YOUR_BOT_14_TOKEN
BOT_15_TOKEN=YOUR_BOT_15_TOKEN
BOT_16_TOKEN=YOUR_BOT_16_TOKEN
BOT_17_TOKEN=YOUR_BOT_17_TOKEN
BOT_18_TOKEN=YOUR_BOT_18_TOKEN
BOT_19_TOKEN=YOUR_BOT_19_TOKEN
BOT_20_TOKEN=YOUR_BOT_20_TOKEN
